# Eksperimentelle tjenester

In [1]:
from dhlab.future.corpus_conc_coll import Corpus, Concordance, Collocations, Frequencies

In [2]:
c = Corpus.build(doctype="digibok")
c.head(2)

,dhlabid,urn,title,authors,oaiid,sesamid,isbn10,city,timestamp,year,publisher,langs,subjects,ddc,genres,literaryform,doctype,ocr_creator,ocr_timestamp
0,100495998,URN:NBN:no-nb_digibok_2014061628001,"Ulysses & Outinus Unus & Idem , Sive Disqvisit...","Ramus , Jonas / Lynov , Ove / Bircherod , Jens...",oai:nb.bibsys.no:990402670084702202,ae76cdc850ddfd619290b3e6dd860513,,,17130101,1713,Typis Ovidii Lynnovii,lat,Geografi / Historie / Oddysevs / Odin,,,Faglitteratur,digibok,nb,20060101
1,100327307,URN:NBN:no-nb_digibok_2017030348025,Regjeringsadvokat Johannes Bergh : 18. februar...,"Bergh , Johannes",oai:nb.bibsys.no:999510918244702202,41d4e1afe9f378fbc01a15582cff6c56,,<S.l.>,19370101,1937,,nob,,,,Uklassifisert,digibok,nb,20060101

In [3]:
c.get_freqs().display_names()

,Ut och leta växter ! : om bär och blommor i vår natur,Nye utfordringer i klagesaksbehandlingen : fra et nordisk seminar på Lillehammer den 5. - 7 . Marts 1997,"Erasmus Montanus , eller Rasmus Berg : Komedie i fem Akter","Ulysses & Outinus Unus & Idem , Sive Disqvisitio Historica & Geographica , Qva Ex collatis inter se Odyssea Homeri & Edda Island . Homerizante , Outini fraudes deteguntur , ac , detracta larva in lucem protrahitur Ulysses",De norske Livsforsikringsselskapers Korrespondansekursus for yrkesakkvisitører,Det spirituelle og okkulte,Regjeringsadvokat Johannes Bergh : 18. februar 1837 - 18. februar 1937 : utg. på 100-årsdagen 18. februar 1937,Drama i Russland,Eksamensoppgaver i mekanikk ved universitetet i Oslo,Ord om fred
.,662.0,3318.0,1387.0,1673.0,3459.0,1780.0,307.0,2569.0,440.0,65.0
",",347.0,2059.0,1222.0,3120.0,2705.0,1493.0,312.0,1304.0,222.0,96.0
och,293.0,395.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
år,229.0,341.0,0.0,0.0,289.0,27.0,21.0,5.0,0.0,1.0
du,227.0,9.0,85.0,3.0,0.0,2.0,3.0,179.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...
NYE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
UKJENT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
WILLIAM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
GAMLE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
TESTAMENTET,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0

In [4]:
c.get_freqs().sum_freqs()

             frequencies
.                15660.0
,                12880.0
och                688.0
år                 913.0
du                 512.0
...                  ...
NYE                  3.0
UKJENT               3.0
WILLIAM              3.0
GAMLE                6.0
TESTAMENTET          9.0

[49061 rows x 1 columns]

In [5]:
Concordance.get_concordances(corpus=c, words="konge").head()

,index,docid,urn,concordance,link
0,0,100279411,URN:NBN:no-nb_digibok_2016011848084,... Mwaash eller Woot < Mashamboy > er Kubas f...,<a target='_blank' href = 'https://urn.nb.no/U...

In [6]:
Collocations.get_collocations(corpus=c, words=["konge", "kongeriket"])

               counts
,                   1
første              1
den                 1
Kubas               1
er                  1
alle                1
>                   1
i                   1
Mashamboy           1
Kuba-kulturen       1
<                   1
kan                 1
Woot                1
føre                1
sin                 1
eller               1
Mwaash              1
avstamning          1
.                   1
tilbake             1
blir                2
Kubas               1
der                 1
seremonier          1
mytiske             1
under               1
opprinnelse         1
båret               1
frem                1
De                  1
sti                 1
lt                  1
.                   1
,                   1
)                   1
men                 1
Zaire               1
tidligere           1
også                1