In [4]:
import dhlab as dh
import pandas as pd

In [12]:
df = pd.read_csv('../data/partipressen_normalized.csv', index_col=0)

In [13]:
df

,avis,parti,normalisert
0,Adresseavisen,Høyre,adresseavisen
1,Aftenposten,Høyre,aftenposten
2,"Akershus, Asker og Bærums Budstikke",Høyre,akershusaskerogbaerumsbudstikke
3,Christiansands Tidende,Høyre,christiansandstidende
4,Drammens Tidende,Høyre,drammenstidende
...,...,...,...
112,Stjørdalingen,Bondepartiet,stjordalingen
113,Stjørdalingen,Bondepartiet,stjoerdalingen
114,Fylket,Bondepartiet,fylket
115,Horda Tidend,Bondepartiet,hordatidend
116,Firda Tiend og Agder Tiend,Bondepartiet,firdatiendogagdertiend

In [21]:
parti_dct = dict()
partier = df.parti.unique()

for parti in partier:
    parti_dct[parti] = df.loc[df.parti == parti, 'normalisert']

In [35]:
def corpus_looper(s):
    c = dh.text.corpus.EmptyCorpus()
    
    for x in s:
        delkorpus = dh.Corpus(doctype='digavis', title=x, from_year=1945, to_year=1970, limit=100)
        
        c.add(delkorpus)
        
    return c

In [36]:
df_dct = dict()

for parti in partier:
    df_dct[parti] = corpus_looper(parti_dct[parti])

In [37]:
df_dct['Venstre'].corpus

,dhlabid,urn,title,authors,oaiid,sesamid,isbn10,city,timestamp,year,publisher,langs,subjects,ddc,genres,literaryform,doctype
0,202100262.0,URN:NBN:no-nb_digavis_dagbladet_null_null_1960...,dagbladet,None,None,None,None,Oslo,19600928.0,1960.0,None,None,None,None,None,None,digavis
1,200327744.0,URN:NBN:no-nb_digavis_dagbladet_null_null_1952...,dagbladet,None,None,None,None,Oslo,19521025.0,1952.0,None,None,None,None,None,None,digavis
2,202100992.0,URN:NBN:no-nb_digavis_dagbladet_null_null_1963...,dagbladet,None,None,None,None,Oslo,19630221.0,1963.0,None,None,None,None,None,None,digavis
3,200332182.0,URN:NBN:no-nb_digavis_dagbladet_null_null_1965...,dagbladet,None,None,None,None,Oslo,19650920.0,1965.0,None,None,None,None,None,None,digavis
4,202099284.0,URN:NBN:no-nb_digavis_dagbladet_null_null_1956...,dagbladet,None,None,None,None,Oslo,19560710.0,1956.0,None,None,None,None,None,None,digavis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,201926797.0,URN:NBN:no-nb_digavis_vestmar_null_null_194508...,vestmar,None,None,None,None,Kragerø,19450823.0,1945.0,None,None,None,None,None,None,digavis
96,201926957.0,URN:NBN:no-nb_digavis_vestmar_null_null_194710...,vestmar,None,None,None,None,Kragerø,19471015.0,1947.0,None,None,None,None,None,None,digavis
97,201926858.0,URN:NBN:no-nb_digavis_vestmar_null_null_194702...,vestmar,None,None,None,None,Kragerø,19470203.0,1947.0,None,None,None,None,None,None,digavis
98,201926905.0,URN:NBN:no-nb_digavis_vestmar_null_null_194706...,vestmar,None,None,None,None,Kragerø,19470604.0,1947.0,None,None,None,None,None,None,digavis
99,201926799.0,URN:NBN:no-nb_digavis_vestmar_null_null_194508...,vestmar,None,None,None,None,Kragerø,19450829.0,1945.0,None,None,None,None,None,None,digavis

In [39]:
for key, item in df_dct.items():
    print(key ,item.size)

Høyre 3000
Venstre 2400
Arbeiderpartiet 1495
Bondepartiet 797